<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Personal Finance Manage</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <!--import vue vue-router elementui -->
    <script src="javascript/vue.js"></script>
    <script src="javascript/vue-router.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!--import axios qs -->
    <script src="javascript/axios.min.js"></script>
    <script src="javascript/qs.min.js"></script>
    <!-- vue -->
    <div id="app">
        <router-view></router-view>
    </div>
    <!--1  after logged in -->
    <template id="Transaction">
            <el-container style="border: 1px ">
                <el-header style="text-align: right; font-size: 12px">
                    <span style="  position:absolute;left:10px; font-size: 18px;">Personal Finance Manage</span>
                    <span>USER</span>
                </el-header>
                <el-container>
                    <el-aside width="200px">
                        <el-menu :default-active="1">
                            <el-menu-item index="1">
                                <i class="el-icon-menu"></i>
                                <span slot="title">Spending Transaction </span>
                            </el-menu-item>
                            <el-menu-item index="2" @click="pagepush(2)">
                                <i class="el-icon-menu"></i>
                                <span slot="title">Monthly Bills</span>
                            </el-menu-item>
                            <el-menu-item index="3" @click="pagepush(3)">
                                <i class="el-icon-document"></i>
                                <span slot="title">Budget Reset</span>
                            </el-menu-item>
                        </el-menu>
                    </el-aside>
                    <el-main>
                        <el-select v-model="accountType" placeholder="please choose an account"
                            @change="selectAccount(accountType)">
                            <el-option v-for="item in options" :key="item.accountType" :label="item.label"
                                :value="item.accountType">
                            </el-option>
                        </el-select>
                        <el-table :data="spendingTableData" v-if="showTable">
                            <el-table-column prop="date" label="date" width="140">
                            </el-table-column>
                            <el-table-column prop="note" label="note" width="120">
                            </el-table-column>
                            <el-table-column prop="payment" label="payment">
                            </el-table-column>
                            <el-table-column label="category">
                                <template slot-scope="scope">
                                    <el-select v-model="scope.row.type" placeholder="please Transaction">
                                        <el-option v-for="item in categories" :key="item.type" :label="item.type"
                                            :value="item.type">
                                        </el-option>
                                    </el-select>
                                </template>
    </el-table-column>
    </el-table>
    <el-button type="primary" v-if="accountType!=''" @click="updateSpend()">update all</el-button>
    <!-- !!!!to check -->
    </el-main>
    </el-container>
    </el-container>
    </template>
    <!--2 show the bill of the selected month-->
    <template id="MonthBill">
            <el-container style="border: 1px">
                <el-header style="text-align: right; font-size: 12px">
                    <span style="  position:absolute;left:10px; font-size: 18px;">Personal Finance Manage</span>
                    <span>USER</span>
                </el-header>
                <el-container>
                    <el-aside width="200px">
                        <el-menu :default-active="2">
                            <el-menu-item index="1" @click="pagepush(1)">
                                <i class="el-icon-menu"></i>
                                <span slot="title">Spending Transaction </span>
                            </el-menu-item>
                            <el-menu-item index="2">
                                <i class="el-icon-menu"></i>
                                <span slot="title">Monthly Bills</span>
                            </el-menu-item>
                            <el-menu-item index="3" @click="pagepush(3)">
                                <i class="el-icon-document"></i>
                                <span slot="title">Budget Reset</span>
                            </el-menu-item>
                        </el-menu>
                    </el-aside>
                    <el-main>
                        <h1>Which month's bill do you want to check?</h1>
                        <el-date-picker v-model="month" type="month" placeholder="please Transaction a month"
                            @change="monthchange(month)">
                        </el-date-picker>
                        <el-collapse v-model="activeNames" @change="handleChange">
                            <div v-for="(item, index) in typetabledata" :key="index">
                                <el-collapse-item :title="item.type" :name="index">
                                    <span> budget: spend: </span>
                                    <div>
                                        <el-table :data="item.bill">
                                            <el-table-column prop="date" label="date" width="140">
                                            </el-table-column>
                                            <el-table-column prop="note" label="note" width="120">
                                            </el-table-column>
                                            <el-table-column prop="payment" label="payment">
                                            </el-table-column>
                                        </el-table>
                                    </div>
                                </el-collapse-item>
                            </div>
                        </el-collapse>
                    </el-main>
                </el-container>
            </el-container>
        </template>
    <!--3 reset the budget-->
    <template id="BudgetReset">
            <el-container style="border: 1px">
                <el-header style="text-align: right; font-size: 12px">
                    <span style="  position:absolute;left:10px; font-size: 18px;">Personal Finance Manage</span>
                    <span>USER</span>
                </el-header>
                <el-container>
                    <el-aside width="200px">
                        <el-menu :default-active="2">
                            <el-menu-item index="1" @click="pagepush(1)">
                                <i class="el-icon-menu"></i>
                                <span slot="title">Spending Transaction </span>
                            </el-menu-item>
                            <el-menu-item index="2" @click="pagepush(2)">
                                <i class="el-icon-menu"></i>
                                <span slot="title">Monthly Bills</span>
                            </el-menu-item>
                            <el-menu-item index="3">
                                <i class="el-icon-document"></i>
                                <span slot="title">Budget Reset</span>
                            </el-menu-item>
                        </el-menu>
                    </el-aside>
                    <el-main>
                        <el-form :model="budgetNew" ref="budgetNew" label-width="100px">
                            <el-form-item v-for="(item, index) in budgetNew" :label="'category ' + index" :key="index"
                                :prop="budgetNew.type"
                                :rules="{required: true, message: 'cannot be empty', trigger: 'blur'}">
                                <el-input type="text" placeholder="please input the category" v-model="item.type"
                                    clearable></el-input>
                                <el-input type="number"
                                    onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')"
                                    placeholder="please input the Budget" v-model="item.budget" clearable>
                                </el-input>
                                <el-button @click.prevent="removeBudget(item)">delete</el-button>
                                <el-button type="primary" @click="updateBudget(item)">update</el-button>
                            </el-form-item>
                            <el-form-item>
                                <el-button @click="addDomain">add another category</el-button>
                            </el-form-item>
                        </el-form>
                    </el-main>
                </el-container>
            </el-container>
        </template>
    <script type="text/javascript">
        // 
        var Transaction = {
                template: '#Transaction',
                data: function() {
                    return {
                        accountType: '',
                        showTable: false,
                        categories: [{
                            "type": "Utilities",
                        }, {
                            "type": "Travel",
                        }, {
                            "type": "Groceries",
                        }, {
                            "type": "Rent",
                        }],
                        options: [{
                            accountType: '1',
                            label: 'AliPay'
                        }, {
                            accountType: '2',
                            label: 'WePay'
                        }, {
                            accountType: '3',
                            label: 'Credit Card'
                        }, {
                            accountType: '4',
                            label: 'checking'
                        }, {
                            accountType: '5',
                            label: 'current'
                        }],
                        spendingTableData: [{
                            date: '2019-05-02',
                            note: 'lunch',
                            category: "Utilities",
                            payment: 33.01
                        }, {
                            date: '2019-05-02',
                            note: 'lunch',
                            category: "Utilities",
                            payment: 44.01
                        }, {
                            date: '2019-05-02',
                            note: 'lunch',
                            category: "Utilities",
                            payment: 66.01
                        }]
                    }
                },
                methods: {
                    pagepush(item) {
                        console.log(item);
                        if (item === 1) {
                            pagename = "Transaction"
                        } else if (item === 2) {
                            pagename = "MonthBill"
                        } else {
                            pagename = "BudgetReset"
                        }
                        console.log(pagename);
                        this.$router.push({
                            name: pagename,
                        })
                    },
                    selectAccount(accountType) {
                        var that = this
                        axios.get('http://localhost:8080/spend/bill')
                            .then(function(response) {
                                console.log(response.data)
                                that.spendingTableData = response.data
                                console.log(that.spendingTableData)
                                axios.get('http://localhost:8080/category')
                                    .then(function(response) {
                                        if (response.data.length != 0) {
                                            that.categories = response.data
                                        }
                                        console.log(response)
                                    })
                                    .catch(function(error) {
                                        console.log(error)
                                    })
                                    // alert("success")
                                that.showTable = true
                            })
                            .catch(function(error) {
                                console.log(error)
                            })
                    },
                    updateSpend() {
                        var requestbody = {
                            spends: this.spendingTableData
                        }
                        console.log(this.spendingTableData)
                        console.log(requestbody)
                        axios.post("http://localhost:8080/spend",
                                requestbody
                            )
                            .then(function(response) {
                                console.log(response);
                                alert("success")
                            })
                            .catch(function(error) {
                                console.log(error);
                                console.log(requestbody)
                            })
                    }
                }
            }
            // 页面2 
        var MonthBill = {
            template: '#MonthBill',
            data: function() {
                return {
                    activeNames: '0',
                    categories: [],
                    typetabledata: [],
                    tableData: [],
                    month: ''
                }
            },
            methods: {
                pagepush(item) {
                    console.log(item);
                    if (item === 1) {
                        pagename = "Transaction"
                    } else if (item === 2) {
                        pagename = "MonthBill"

                    } else {
                        pagename = "BudgetReset"
                    }
                    console.log(pagename);

                    this.$router.push({
                        name: pagename,
                    })
                },
                monthchange(month) {
                    var nowMonth = month.getMonth()
                    var nowYear = month.getFullYear()
                    var fromdate = new Date(nowYear, nowMonth, 1)
                    var todate = new Date(nowYear, nowMonth + 1, 0)

                    console.log("console")
                    console.log(format('yyyy-MM-dd', fromdate))
                    console.log(format('yyyy-MM-dd', todate))

                    var that = this
                    axios.get('http://localhost:8080/spend?from=' + format('yyyy-MM-dd', fromdate) + '&to=' + format('yyyy-MM-dd', todate))
                        .then(function(response) {
                            console.log(response.data)
                            that.tableData = response.data
                            console.log(that.tableData)
                            var item = []
                            for (let index = 0; index < that.tableData.length; index++) {
                                item = that.tableData[index]
                                var typeindex = that.categories.indexOf(that.tableData[index].type);
                                console.log(typeindex)
                                if (typeindex != -1) {
                                    that.typetabledata[typeindex].bill.push(item)
                                } else {
                                    that.categories.push(that.tableData[index].type)
                                    that.typetabledata.push({
                                        "type": that.tableData[index].type,
                                        "bill": [item],
                                    })
                                    console.log(that.categories)
                                    console.log(that.typetabledata)
                                }
                            }

                        })
                        .catch(function(error) {
                            console.log(error)
                        })
                },
                handleChange(val) {
                    console.log(val)
                    this.typetabledata = []
                },
            }
        }
        var BudgetReset = {
            template: '#BudgetReset',
            data: function() {
                return {
                    categories: [],
                    budgetNew: [],
                    Predata: [],
                }
            },
            created() {
                var that = this
                    //get budget
                var nowMonth = new Date().getMonth()
                var nowYear = new Date().getFullYear()
                var fromdate = new Date(nowYear, nowMonth, 1)
                var todate = new Date(nowYear, nowMonth + 1, 0)

                console.log(format('yyyy-MM-dd', fromdate))
                console.log(format('yyyy-MM-dd', todate))
                axios.get('http://localhost:8080/budget?from=' + format('yyyy-MM-dd', fromdate) + '&to=' + format('yyyy-MM-dd', todate))
                    .then(function(response) {
                        console.log("budget success")
                        console.log(response.data)
                        that.budgetNew = response.data
                        that.Predata = response.data.map(t => t.type)
                    })
                    .catch(function(error) {
                        console.log("fail")
                        console.log(error)
                    })
                axios.get('http://localhost:8080/category')
                    .then(function(response) {
                        console.log("category success")
                        console.log(response.data)
                        that.categories = response.data
                    })
                    .catch(function(error) {
                        console.log("fail")
                        console.log(error)
                    })
            },
            methods: {
                pagepush(item) {
                    console.log(item);
                    if (item === 1) {
                        pagename = "Transaction"
                    } else if (item === 2) {
                        pagename = "MonthBill"

                    } else {
                        pagename = "BudgetReset"
                    }
                    console.log(pagename);

                    this.$router.push({
                        name: pagename,
                    })
                },
                updateBudget(item) {
                    var that = this
                    var requestbody
                    var indexBudget = that.budgetNew.indexOf(item)
                    if (item.budget && item.type.length && item._id.length) {
                        axios.delete("http://localhost:8080/budget?id=" + item._id)
                            .then(function(response) {
                                console.log(response);
                            })
                            .catch(function(error) {
                                console.log(error);
                            })
                    }
                    requestbody = {
                        "Month": new Date(),
                        "type": item.type,
                        "budget": item.budget
                    }
                    axios.post("http://localhost:8080/budget", requestbody)
                        .then(function(response) {
                            var newbud = response.data
                            alert("success")
                            if (indexBudget !== -1) {
                                that.budgetNew[indexBudget] = newbud
                            }
                        })
                        .catch(function(error) {
                            console.log(error);
                        })
                    console.log(this.budgetNew);
                    console.log(this.Predata);

                    if (item.type != that.Predata[indexBudget]) {
                        axios.delete("http://localhost:8080/category?type=" + that.Predata[indexBudget])
                            .then(function(response) {
                                console.log(response);
                            })
                            .catch(function(error) {
                                console.log(error);
                            })
                    }
                    requestbody = {
                        "type": item.type,
                    }
                    axios.post("http://localhost:8080/category", requestbody)
                        .then(function(response) {
                            console.log(response.data)
                                // var newbud = response.data
                                // alert("success")
                                // if (indexBudget !== -1) {
                                //     that.budgetNew[indexBudget] = newbud
                                // }
                        })
                        .catch(function(error) {
                            console.log(error);
                        })
                    that.Predata[indexBudget] = item.type

                },
                removeBudget(item) {
                    console.log(item._id.length)
                    if (item._id.length) {
                        axios.delete("http://localhost:8080/budget?id=" + item._id)
                            .then(function(response) {
                                console.log(response);
                            })
                            .catch(function(error) {
                                console.log(error);
                            })
                    }
                    if (item.type.length) {
                        axios.delete("http://localhost:8080/category?type=" + item.type)
                            .then(function(response) {
                                console.log(response);
                            })
                            .catch(function(error) {
                                console.log(error);
                            })

                    }
                    var index = this.budgetNew.indexOf(item)
                    if (index !== -1) {
                        this.budgetNew.splice(index, 1)
                    }
                },
                addDomain() {
                    this.budgetNew.push({
                        "type": "",
                        "budget": 0,
                        "date": format('yyyy-MM-dd', new Date()),
                        "_id": ''
                    });
                    console.log(this.budgetNew)
                }
            }
        }
        Vue.use(VueRouter)
        var routes = [{
            path: '/',
            redirect: 'Transaction'
        }, {
            path: '/Transaction',
            name: 'Transaction',
            component: Transaction
        }, {
            path: '/MonthBill',
            name: 'MonthBill',
            component: MonthBill
        }, {
            path: '/BudgetReset',
            name: 'BudgetReset',
            component: BudgetReset
        }]
        var router = new VueRouter({
            routes: routes
        })

        new Vue({
            el: "#app",
            router: router,
            data: {},
            methods: {}
        });

        function format(fmt, date) {
            var o = {
                "M+": date.getMonth() + 1, //月份   
                "d+": date.getDate(), //日   
                "h+": date.getHours(), //小时   
                "m+": date.getMinutes(), //分   
                "s+": date.getSeconds(), //秒   
                "q+": Math.floor((date.getMonth() + 3) / 3), //季度   
                "S": date.getMilliseconds() //毫秒   
            };
            if (/(y+)/.test(fmt))
                fmt = fmt.replace(RegExp.$1, (date.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt))
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
    </script>
</body>

</html>