<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Personal Finance Manage</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <!--import vue vue-router elementui -->
    <script src="javascript/vue.js"></script>
    <script src="javascript/vue-router.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!--import axios qs -->
    <script src="javascript/axios.min.js"></script>
    <script src="javascript/qs.min.js"></script>
    <!-- vue -->
    <div id="app">
        <router-view></router-view>
    </div>
    <!--1  after logged in -->
    <template id="Transaction">
            <el-container style="border: 1px ">
                <el-header style="text-align: right; font-size: 12px">
                    <span style="  position:absolute;left:10px; font-size: 18px;">Personal Finance Manage</span>
                    <span>USER</span>
                </el-header>
                <el-container>
                    <el-aside width="200px">
                        <el-menu :default-active="1">
                            <el-menu-item index="1">
                                <i class="el-icon-menu"></i>
                                <span slot="title">Spending Transaction </span>
                            </el-menu-item>
                            <el-menu-item index="2" @click="pagepush(2)">
                                <i class="el-icon-menu"></i>
                                <span slot="title">Monthly Bills</span>
                            </el-menu-item>
                            <el-menu-item index="3" @click="pagepush(3)">
                                <i class="el-icon-document"></i>
                                <span slot="title">Budget Reset</span>
                            </el-menu-item>
                        </el-menu>
                    </el-aside>
                    <el-main>
                        <el-select v-model="accountType" placeholder="please choose an account"
                            @change="selectAccount(accountType)">
                            <el-option v-for="item in options" :key="item.accountType" :label="item.label"
                                :value="item.accountType">
                            </el-option>
                        </el-select>
                        <el-table :data="spendingTableData" v-if="accountType!=''">
                            <el-table-column prop="date" label="date" width="140">
                            </el-table-column>
                            <el-table-column prop="note" label="note" width="120">
                            </el-table-column>
                            <el-table-column prop="payment" label="payment">
                            </el-table-column>
                            <el-table-column label="category">
                                <template slot-scope="scope">
                                    <el-select v-model="scope.row.category" placeholder="please Transaction">
                                        <el-option v-for="item in categories" :key="item.type" :label="item.type"
                                            :value="item.type">
                                        </el-option>
                                    </el-select>
                                </template>
    </el-table-column>
    </el-table>
    <el-button type="primary" v-if="accountType!=''" @click="updateSpend()">update all</el-button>
    </el-main>
    </el-container>
    </el-container>
    </template>
    <!--2 show the bill of the selected month-->
    <template id="MonthBill">
            <el-container style="border: 1px">
                <el-header style="text-align: right; font-size: 12px">
                    <span style="  position:absolute;left:10px; font-size: 18px;">Personal Finance Manage</span>
                    <span>USER</span>
                </el-header>
                <el-container>
                    <el-aside width="200px">
                        <el-menu :default-active="2">
                            <el-menu-item index="1" @click="pagepush(1)">
                                <i class="el-icon-menu"></i>
                                <span slot="title">Spending Transaction </span>
                            </el-menu-item>
                            <el-menu-item index="2">
                                <i class="el-icon-menu"></i>
                                <span slot="title">Monthly Bills</span>
                            </el-menu-item>
                            <el-menu-item index="3" @click="pagepush(3)">
                                <i class="el-icon-document"></i>
                                <span slot="title">Budget Reset</span>
                            </el-menu-item>
                        </el-menu>
                    </el-aside>
                    <el-main>
                        <h1>Which month's bill do you want to check?</h1>
                        <el-date-picker v-model="month" type="month" placeholder="please Transaction a month"
                            value-format="yyyy-MM-dd" @change="monthchange(month)">
                        </el-date-picker>
                        <el-collapse v-model="activeNames" @change="handleChange">
                            <div v-for="(category, index) in categories" :key="index">
                                <el-collapse-item :title="category.type " :name="index">
                                    <span> budget: {{category.budget}} spend: {{category.budget}} </span>
                                    <div>
                                        <el-table :data="tableData">
                                            <el-table-column prop="date" label="date" width="140">
                                            </el-table-column>
                                            <el-table-column prop="note" label="note" width="120">
                                            </el-table-column>
                                            <el-table-column prop="payment" label="payment">
                                            </el-table-column>
                                        </el-table>
                                    </div>
                                </el-collapse-item>
                            </div>
                        </el-collapse>
                    </el-main>
                </el-container>
            </el-container>
        </template>
    <!--3 reset the budget-->
    <template id="BudgetReset">
            <el-container style="border: 1px">
                <el-header style="text-align: right; font-size: 12px">
                    <span style="  position:absolute;left:10px; font-size: 18px;">Personal Finance Manage</span>
                    <span>USER</span>
                </el-header>
                <el-container>
                    <el-aside width="200px">
                        <el-menu :default-active="2">
                            <el-menu-item index="1" @click="pagepush(1)">
                                <i class="el-icon-menu"></i>
                                <span slot="title">Spending Transaction </span>
                            </el-menu-item>
                            <el-menu-item index="2" @click="pagepush(2)">
                                <i class="el-icon-menu"></i>
                                <span slot="title">Monthly Bills</span>
                            </el-menu-item>
                            <el-menu-item index="3">
                                <i class="el-icon-document"></i>
                                <span slot="title">Budget Reset</span>
                            </el-menu-item>
                        </el-menu>
                    </el-aside>
                    <el-main>
                        <!-- <div class="input-suffix" v-for="(item, index) in budget" :key="index">
                            {{item.type}}
                            <el-input type="number" onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')"
                                placeholder="please input the Budget" v-model="item.budget" clearable
                                @change="inputchange(index)">
                            </el-input>
                        <el-button type="primary" @click = updatecategory(index)>update</el-button> -->
                        <!-- </div> -->
                        <el-form :model="budget" ref="budget" label-width="100px" class="demo-dynamic">
                            <el-form-item v-for="(item, index) in budget" :label="'category ' + index" :key="index"
                                :prop="'item.' + (index+1) + '.'"
                                :rules="{required: true, message: '不能为空', trigger: 'blur'}">
                                <el-input type="text" placeholder="please input the category" v-model="item.type"
                                    clearable @change="inputchange(index)"></el-input>
                                <el-input type="number"
                                    onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')"
                                    placeholder="please input the Budget" v-model="item.budget" clearable
                                    @change="inputchange(index)">
                                </el-input>
                                <el-button @click.prevent="removeCategory(item)">delete</el-button>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="submitForm(budget)">submit</el-button>
                                <el-button @click="addDomain">add</el-button>
                            </el-form-item>
                        </el-form>
                    </el-main>
                </el-container>
            </el-container>
        </template>
    <script type="text/javascript">
        // 
        var Transaction = {
                template: '#Transaction',
                data: function() {
                    return {
                        categories: [{
                            "id": 1,
                            "type": "Utilities",
                            "budget": 10000,
                        }, {
                            "id": 2,
                            "type": "Travel",
                            "budget": 10000,
                        }, {
                            "id": 3,
                            "type": "Groceries",
                            "budget": 10000,
                        }, {
                            "id": 4,
                            "type": "Rent",
                            "budget": 10000,
                        }],
                        options: [{
                            accountType: '1',
                            label: 'AliPay'
                        }, {
                            accountType: '2',
                            label: 'WePay'
                        }, {
                            accountType: '3',
                            label: 'Credit Card'
                        }, {
                            accountType: '4',
                            label: 'checking'
                        }, {
                            accountType: '5',
                            label: 'current'
                        }],
                        accountType: '',
                        spendingTableData: [{
                            date: '2019-05-02',
                            note: 'lunch',
                            category: "Utilities",
                            payment: 33.01
                        }, {
                            date: '2019-05-02',
                            note: 'lunch',
                            category: "Utilities",
                            payment: 44.01
                        }, {
                            date: '2019-05-02',
                            note: 'lunch',
                            category: "Utilities",
                            payment: 66.01
                        }]
                    }
                },
                methods: {
                    pagepush(item) {
                        console.log(item);
                        if (item === 1) {
                            pagename = "Transaction"
                        } else if (item === 2) {
                            pagename = "MonthBill"

                        } else {
                            pagename = "BudgetReset"
                        }
                        console.log(pagename);

                        this.$router.push({
                            name: pagename,
                        })
                    },
                    selectAccount(accountType) {
                        axios.get('/spend/bill')
                            .then(function(response) {
                                console.log(response.data)
                                this.spendingTableData = response.data
                                alert("success")
                            })
                            .catch(function(error) {
                                console.log(error)
                            })
                    },
                    updateSpend() {
                        var that = this
                        axios.post("/spend",
                                that.spendingTableData
                            )
                            .then(function(response) {
                                console.log(response);
                            })
                            .catch(function(error) {
                                console.log(error);
                            })
                    }
                }
            }
            // 页面2 
        var MonthBill = {
            template: '#MonthBill',
            data: function() {
                const item = {
                    date: '2020-05-02',
                    note: 'travel',
                    payment: 5400.01
                };

                return {
                    activeNames: '0',
                    categories: [{
                        "id": 1,
                        "type": "Utilities",
                        "budget": 10000,
                    }, {
                        "id": 2,
                        "type": "Travel",
                        "budget": 10000,

                    }, {
                        "id": 3,
                        "type": "Groceries",
                        "budget": 10000,
                    }],
                    tableData: Array(3).fill(item),
                    month: ''
                }
            },
            methods: {
                pagepush(item) {
                    console.log(item);
                    if (item === 1) {
                        pagename = "Transaction"
                    } else if (item === 2) {
                        pagename = "MonthBill"

                    } else {
                        pagename = "BudgetReset"
                    }
                    console.log(pagename);

                    this.$router.push({
                        name: pagename,
                    })
                },
                monthchange(month) {
                    console.log(month)
                    axios.get('/category')
                        .then(function(response) {
                            console.log(response.data)

                        })
                        .catch(function(error) {
                            console.log(error)
                        })
                },
                handleChange(val) {
                    console.log(val)
                },
            }
        }
        var BudgetReset = {
            template: '#BudgetReset',
            data: function() {
                return {
                    budget: [{
                        "id": 1,
                        "type": "Utilities",
                        "budget": 10000,
                    }, {
                        "id": 2,
                        "type": "Travel",
                        "budget": 10000,

                    }, {
                        "id": 3,
                        "type": "Groceries",
                        "budget": 10000,

                    }, {
                        "id": 4,
                        "type": "Rent",
                        "budget": 10000,

                    }],
                }
            },
            methods: {
                pagepush(item) {
                    console.log(item);
                    if (item === 1) {
                        pagename = "Transaction"
                    } else if (item === 2) {
                        pagename = "MonthBill"

                    } else {
                        pagename = "BudgetReset"
                    }
                    console.log(pagename);

                    this.$router.push({
                        name: pagename,
                    })
                },
                inputchange(index) {
                    console.log(index)
                    console.log(this.budget)
                },
                // updatecategory(index) {
                //     console.log("updatecategory " + index)
                //     console.log(this.budget)
                // },
                submitForm(budget) {
                    if (budget.length > 0) {
                        alert('submit!');
                    } else {
                        console.log('error submit!!');
                        return false;
                    }

                },
                removeCategory(item) {
                    var index = this.budget.indexOf(item)
                    if (index !== -1) {
                        this.budget.splice(index, 1)
                    }
                },
                addDomain() {
                    this.budget.push({
                        "type": "",
                        "budget": 0,
                    });

                }
            }
        }
        Vue.use(VueRouter)
        var routes = [{
            path: '/',
            redirect: 'Transaction'
        }, {
            path: '/Transaction',
            name: 'Transaction',
            component: Transaction
        }, {
            path: '/MonthBill',
            name: 'MonthBill',
            component: MonthBill
        }, {
            path: '/BudgetReset',
            name: 'BudgetReset',
            component: BudgetReset
        }]
        var router = new VueRouter({
            routes: routes
        })

        new Vue({
            el: "#app",
            router: router,
            data: {},
            methods: {}
        });
    </script>
</body>

</html>